/* Import Tailwind */
@import "tailwindcss";

/* Import plugins */
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin "daisyui";

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
/* Lokale fonts – korrekt format */
@font-face {
  font-family: "Superfunky";
  src: url("/Superfunky.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Custom theme tokens */
@theme {
  --color-darkblue: #020551;
  --color-blue: #2c30a6;
  --color-lightblue: #8a8ef7;
  --color-darkyellow: #fdbe0f;
  --color-yellow: #ffd153;
  --color-pink: #ffe7e4;
  --color-beige: #fff8ee;
  --color-orange: #cd6200;
  --color-brightorange: #f2790a;
  --color-hoverorange: #d6904f;

  --animate-infinite-scroll: infinite-scroll 25s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  --handcursor: url(/cursor.webp) 15 15, pointer;
}

/* Base layer med typografi */
@layer base {
  h1 {
    font-family: "Ultra", serif;
  }

  h2 {
    font-family: "Anybody", sans-serif;
    @apply text-darkblue;
  }

  h3,
  h4,
  h5,
  h6,
  p,
  li,
  a {
    @apply text-darkblue;
    font-family: "Anybody", sans-serif;
  }

  /* a til links i header */
  a {
    @apply text-base;
  }

  p {
    @apply mb-6;
  }

  div {
    font-family: "Anybody", sans-serif;
    @apply text-darkblue;
  }

  button {
    font-family: "Anybody", sans-serif;
    @apply text-darkblue text-lg font-bold;
  }

  span {
    @apply text-beige;
  }
}

/* Components og utilities */
@layer components {
}

@layer utilities {
  .rotate-center {
    animation: rotate-center 10s linear infinite both;
  }

  @keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
