---
import MainLayout from "../layouts/MainLayout.astro";

import Hero from "../components/Hero.astro";

import Form from "../components/Form.astro";

import Button from "../components/Button.astro";
---

<MainLayout title="">
  <section class="mx-auto">
    <div class="-mx-30 mb-20">
      <Hero herotitel="BLIV FRIVILLIG" />
    </div>
    <h1 class="text-center">Bliv frivillig</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-6">
      <!-- Tekst-kolonne -->

      <div>
        <p>
          Nakkefestivalen er skabt af helt almindelige mennesker – som dig og mig. Kom og vær med til at skabe festen! Som frivillig får du et armbånd og skal arbejde 16-24 timer under festivalen,
          eller over 24 timer hvis du hjælper før/efter. Mad forsøges dækket uden for festivaldagene. Arbejder du ekstra hårdt, kan du få en MØL-billet for hver time ud over det aftalte.
        </p>
        <p>Du skal være mindst 15 år for at være frivillig.</p>
        <p>
          Sikkerhedsmøde Alle frivillige skal deltage i sikkerhedsmødet dagen før festivalen kl. 19.00 – derefter holder vi frivilligfest! Så tag teltet og vennerne under armen, og oplev Danmarks
          hyggeligste festival.
        </p>
      </div>

      <!-- Solsikke-billede -->
      <div class="flex justify-center md:justify-end">
        <img src="solsikke.webp" alt="solsikke" class="max-w-md h-auto" />
      </div>
    </div>
    <Form />
  </section>
</MainLayout>
