---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Banner from "../components/Banner.astro";
import Hero from "../components/Hero.astro";
import Form from "../components/Form.astro";
import Timebanner from "../components/Timebanner.astro";
import Galleri from "../components/Galleri.astro";
import Kunstnercard from "../components/Kunstnercard.astro";
---

<MainLayout title="Nakkefestival">
  <!-- Hero section -->

  <Hero />

  <!-- Første sektion med logo -->
  <a href="/købbillet">købbillet</a>
  <section
    class="flex flex-col lg:flex-row items-center justify-between gap-8 mb-15 px-8"
  >
    <div class="max-w-xl">
      <h2 class="mb-4">Musik, kunst og kærlighed</h2>
      <p>
        Kom og få det bedste ud af sommeren, når vi sammen drømmer os væk i den
        fantastiske stemning på Nakkefestival – en oplevelse, du ikke finder
        andre steder! Programmet bliver spækket med lækkerier, og vi glæder os
        til at danse og feste med dig og dine venner til den lyse morgen. Så tag
        teltet og vennerne under armen, og oplev Danmarks hyggeligste festival.
      </p>
    </div>

    <div>
      <img src="/logo.svg" alt="Logo" class="w-60 h-60 object-contain" />
    </div>
  </section>

  <!-- Årets kunster sektion -->
  <section class="text-center mb-15">
    <h3 class="text-center">Årets kunstnere</h3>
    <div class="mb-10">
      <Button variant="secondary">Se hele programmet</Button>
    </div>
  </section>

  <!-- Nedtæller sektion -->
  <section class="mb-30">
    <h3 class="text-center">Nakkefestival starter om</h3>
    <Timebanner />
  </section>
  <!-- Fællesbus sektion -->
  <section class="flex flex-col lg:flex-row gap-6 mb-15">
    <!-- Første boks -->
    <div class="border-2 border-darkblue bg-pink p-5 rounded-lg lg:w-1/2">
      <h3 class="mb-2">Tag fællesbus til Nakke</h3>
      <p class="mb-6">
        Turen tager omkring en time og koster 170 kroner (Kbh) det er billigere
        end offentlig transport og bedre for miljøet end at køre selv. Det er
        oven i købet en fantastisk undskyldning for at tilbringe endnu mere tid
        sammen med dine søde og dejlige Nakkevenner! Busserne til festivalen
        kører fra DGI byen. Du skal være ved bussen en halv time før afgang, så
        vi får alle tjekket ind og din bagage med.
      </p>
      <Button variant="secondary">TILMELD BUSSEN</Button>
    </div>

    <!-- Anden boks -->
    <div class="lg:w-1/2">
      <img src="bus.svg" alt="Bus" class="w-70 h-70" />
      <p class="p-2">
        Fællesbussen til Nakke er den hyggeligste og grønneste måde at få dig og
        dine venner med på Nakkefestival! I samarbejde med Solibus arrangerer vi
        bustransport til og fra festivalen. Der er begrænsede pladser, så skynd
        dig at få fat i en billet!
      </p>
    </div>
  </section>

  <!-- banner sektion -->
  <section class="mb-15">
    <Banner />
  </section>

  <!-- Galleri start -->
  <section class="mb-15">
    <h3 class="text-center mb-4">Se mere til Nakkefestival</h3>
    <Galleri />
  </section>
</MainLayout>
