---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Banner from "../components/Banner.astro";

import Form from "../components/Form.astro";

import Timebanner from "../components/Timebanner.astro";
import Galleri from "../components/Galleri.astro";
// >>>>>>> d0bc775af0f2043d18b752f58de4c1159e83e14f
---

<MainLayout title="Nakkefestival">
  <!-- Første sektion med logo -->

  <h1>Nakkefestival</h1>
  <section>
    <div>
      <h2>Musik, kunst og kærlighed</h2>
      <p>
        Kom og få det bedste ud af sommeren, når vi sammen drømmer os væk i den fantastiske stemning på Nakkefestival – en oplevelse, du ikke finder andre steder! Programmet bliver spækket med
        lækkerier, og vi glæder os til at danse og feste med dig og dine venner til den lyse morgen. Så tag teltet og vennerne under armen, og oplev Danmarks hyggeligste festival.
      </p>
    </div>
    <div></div>
  </section>

  <!-- Årets kunster sektion -->
  <section>
    <h3>Årets kunstnere</h3>
  </section>

  <!-- Nedtæller sektion -->
  <section>
    <h3 class="text-center">Nakkefestival starter om</h3>
    <Timebanner />
  </section>

  <!-- Fællesbus sektion -->
  <section>
    <h3>Tag fællesbus til Nakke</h3>
  </section>

  <!-- banner sektion -->
  <section></section>
  <!-- SoMe sektion -->
  <section>
    <h3>Se mere til Nakkefestival</h3>
  </section>
  <!-- Galleri start -->
  <section>
    <Galleri />
  </section>
  <!-- Galleri start -->
</MainLayout>
