---
import MainLayout from "../layouts/MainLayout.astro";
import Kunstnercard from "../components/Kunstnercard.astro";
import Heading from "../components/Heading.astro";
import Hero from "../components/Hero.astro";
import Arrow from "../components/Arrow.astro";
import Link from "../components/Link.astro";
---

<!-- Alberte -->
<MainLayout title="Nakkefestival kunstnere">
  <div class="-mx-10 md:-mx-30 mb-20">
    <Hero herotitel="KUNSTNERE" class="relative z-10" />
  </div>

  <!-- x data til kunstnerecards -->
  <div x-data="{ dagaktiv: 'dag1' }">
    <div class="text-center">
      <Heading htmlheading="h2" size="large" stylingclasses="text-orange"
        >Se dette års kunstnere og program</Heading
      >
    </div>
    <!-- knapper til kunstnerdagene -->
    <div
      class="flex flex-col items-center gap-6 lg:flex-row lg:justify-center lg:gap-13 mb-10"
    >
      <button
        @click="dagaktiv = 'dag1'"
        class="filter-btn text-darkblue border-2 border-darkblue hover:border-orange hover:text-orange transition rounded-xl cursor-pointer px-12 p-4 bg-beige"
        :class="{ 'bg-darkyellow': dagaktiv === 'dag1' }"
      >
        d. 23 juli
      </button>

      <button
        @click="dagaktiv = 'dag2'"
        class="filter-btn text-darkblue border-2 border-darkblue hover:border-orange hover:text-orange transition rounded-xl cursor-pointer px-12 p-4 bg-beige"
        :class="{ 'bg-darkyellow': dagaktiv === 'dag2' }"
      >
        d. 24 juli
      </button>

      <button
        @click="dagaktiv = 'dag3'"
        class="filter-btn text-darkblue border-2 border-darkblue hover:border-orange hover:text-orange transition rounded-xl cursor-pointer px-12 p-4 bg-beige"
        :class="{ 'bg-darkyellow': dagaktiv === 'dag3' }"
      >
        d. 25 juli
      </button>

      <button
        @click="dagaktiv = 'dag4'"
        class="filter-btn text-darkblue border-2 border-darkblue hover:border-orange hover:text-orange transition rounded-xl cursor-pointer px-12 p-4 bg-beige"
        :class="{ 'bg-darkyellow': dagaktiv === 'dag4' }"
      >
        d. 26 juli
      </button>
    </div>
    <div class="flex flex-col justify-center text-center">
      <Heading htmlheading="h3" size="small">
        Se det fulde program nederst på siden.</Heading
      >
      <div>
        <Link href="#program" variant="secondary">Se fulde program</Link>
      </div>
    </div>
    <div class="mb-20 kunstnercards">
      <!-- DAG 1 -->
      <div class="flex flex-col gap-20 p-4" x-show="dagaktiv === 'dag1'">
        <Kunstnercard
          cardimage="josie.webp"
          cardimagealt="Josie Amadonna"
          cardtitle="JOSIE AMADONNA"
          cardscene="DEN ENE SCENE"
          cardkategori="RAP"
          carddato="23. juli"
          cardtidspunkt="10:00"
        />
        <Kunstnercard
          cardimage="becca.webp"
          cardimagealt="becca"
          cardtitle="BECCA"
          cardscene="DEN ANDEN SCENE"
          cardkategori="POP"
          carddato="23. juli"
          cardtidspunkt="12:00"
        />
        <Kunstnercard
          cardimage="uma.webp"
          cardimagealt="uma kabongo"
          cardtitle="UMA KABONGO"
          cardscene="DEN ENE SCENE"
          cardkategori="RAP"
          carddato="23. juli"
          cardtidspunkt="14:00"
        />
        <Kunstnercard
          cardimage="adlyd.webp"
          cardimagealt="adlyd"
          cardtitle="ADLYD"
          cardscene="DEN ANDEN SCENE"
          cardkategori="PUNK"
          carddato="23. juli"
          cardtidspunkt="16:00"
        />
        <Kunstnercard
          cardimage="adam.webp"
          cardimagealt="adam"
          cardtitle="ADAM"
          cardscene="DEN ENE SCENE"
          cardkategori="RAP"
          carddato="23. juli"
          cardtidspunkt="18:00"
        />
        <Kunstnercard
          cardimage="yasmin.webp"
          cardimagealt="yasmin"
          cardtitle="YASMIN"
          cardscene="DEN ANDEN SCENE"
          cardkategori="INDIE"
          carddato="23. juli"
          cardtidspunkt="21:00"
        />
        <Kunstnercard
          cardimage="induktri.webp"
          cardimagealt="induktri"
          cardtitle="INDUKTRI"
          cardscene="DEN ENE SCENE"
          cardkategori="ROCK"
          carddato="23. juli"
          cardtidspunkt="00:00"
        />
        <Kunstnercard
          cardimage="tanajah.webp"
          cardimagealt="tanjah"
          cardtitle="TANAJAH"
          cardscene="DEN ANDEN SCENE"
          cardkategori="PSYCH"
          carddato="23. juli"
          cardtidspunkt="01:00"
        />
      </div>
      <div class="flex flex-col gap-20 p-4" x-show="dagaktiv === 'dag2'">
        <!-- DAG 2 -->
        <Kunstnercard
          cardimage="adlyd.webp"
          cardimagealt="adlyd"
          cardtitle="ADLYD"
          cardscene="DEN ANDEN SCENE"
          cardkategori="PUNK"
          carddato="24. juli"
          cardtidspunkt="10:00"
        />
        <Kunstnercard
          cardimage="yasmin.webp"
          cardimagealt="yasmin"
          cardtitle="YASMIN"
          cardscene="DEN ANDEN SCENE"
          cardkategori="INDIE"
          carddato="24. juli"
          cardtidspunkt="12:00"
        />
        <Kunstnercard
          cardimage="josie.webp"
          cardimagealt="josie amadonna"
          cardtitle="JOSIE AMADONNA"
          cardscene="DEN ENE SCENE"
          cardkategori="RAP"
          carddato="24. juli"
          cardtidspunkt="14:00"
        />
        <Kunstnercard
          cardimage="becca.webp"
          cardimagealt="becca"
          cardtitle="BECCA"
          cardscene="DEN ANDEN SCENE"
          cardkategori="POP"
          carddato="24. juli"
          cardtidspunkt="16:00"
        />
        <Kunstnercard
          cardimage="tanajah.webp"
          cardimagealt="tanajah"
          cardtitle="TANAJAH"
          cardscene="DEN ANDEN SCENE"
          cardkategori="PSYCH"
          carddato="24. juli"
          cardtidspunkt="18:00"
        />
        <Kunstnercard
          cardimage="adam.webp"
          cardimagealt="adam"
          cardtitle="ADAM"
          cardscene="DEN ENE SCENE"
          cardkategori="RAP"
          carddato="24. juli"
          cardtidspunkt="21:00"
        />
        <Kunstnercard
          cardimage="uma.webp"
          cardimagealt="uma kabongo"
          cardtitle="UMA KABONGO"
          cardscene="DEN ENE SCENE"
          cardkategori="RAP"
          carddato="24. juli"
          cardtidspunkt="00:00"
        />
        <Kunstnercard
          cardimage="induktri.webp"
          cardimagealt="induktri"
          cardtitle="INDUKTRI"
          cardscene="DEN ENE SCENE"
          cardkategori="ROCK"
          carddato="24. juli"
          cardtidspunkt="01:00"
        />
      </div>
      <div class="flex flex-col gap-20 p-4" x-show="dagaktiv === 'dag3'">
        <!-- DAG 3 -->
        <Kunstnercard
          cardimage="adam.webp"
          cardimagealt="adam"
          cardtitle="ADAM"
          cardscene="DEN ENE SCENE"
          cardkategori="RAP"
          carddato="25. juli"
          cardtidspunkt="10:00"
        />
        <Kunstnercard
          cardimage="tanajah.webp"
          cardimagealt="tanajah"
          cardtitle="TANAJAH"
          cardscene="DEN ANDEN SCENE"
          cardkategori="PSYCH"
          carddato="25. juli"
          cardtidspunkt="12:00"
        />
        <Kunstnercard
          cardimage="induktri.webp"
          cardimagealt="induktri"
          cardtitle="INDUKTRI"
          cardscene="DEN ENE SCENE"
          cardkategori="ROCK"
          carddato="25. juli"
          cardtidspunkt="14:00"
        />
        <Kunstnercard
          cardimage="becca.webp"
          cardimagealt="becca"
          cardtitle="BECCA"
          cardscene="DEN ANDEN SCENE"
          cardkategori="POP"
          carddato="25. juli"
          cardtidspunkt="16:00"
        />
        <Kunstnercard
          cardimage="uma.webp"
          cardimagealt="uma kabongo"
          cardtitle="UMA KABONGO"
          cardscene="DEN ENE SCENE"
          cardkategori="RAP"
          carddato="25. juli"
          cardtidspunkt="18:00"
        />
        <Kunstnercard
          cardimage="josie.webp"
          cardimagealt="josie amadonna"
          cardtitle="JOSIE AMADONNA"
          cardscene="DEN ENE SCENE"
          cardkategori="RAP"
          carddato="25. juli"
          cardtidspunkt="21:00"
        />
        <Kunstnercard
          cardimage="adlyd.webp"
          cardimagealt="adlyd"
          cardtitle="ADLYD"
          cardscene="DEN ANDEN SCENE"
          cardkategori="PUNK"
          carddato="25. juli"
          cardtidspunkt="00:00"
        />
        <Kunstnercard
          cardimage="yasmin.webp"
          cardimagealt="yasmin"
          cardtitle="YASMIN"
          cardscene="DEN ANDEN SCENE"
          cardkategori="INDIE"
          carddato="25. juli"
          cardtidspunkt="01:00"
        />
      </div>
      <div class="flex flex-col gap-20 p-4" x-show="dagaktiv === 'dag4'">
        <!-- DAG 4 -->
        <Kunstnercard
          cardimage="becca.webp"
          cardimagealt="becca"
          cardtitle="BECCA"
          cardscene="DEN ENE SCENE"
          cardkategori="POP"
          carddato="26. juli"
          cardtidspunkt="10:00"
        />
        <Kunstnercard
          cardimage="adlyd.webp"
          cardimagealt="adlyd"
          cardtitle="ADLYD"
          cardscene="DEN ANDEN SCENE"
          cardkategori="PUNK"
          carddato="26. juli"
          cardtidspunkt="12:00"
        />
      </div>
    </div>
    <!-- skema -->
    <div class="text-center" id="program">
      <Heading htmlheading="h3" size="medium" stylingclasses="mb-10"
        >Program</Heading
      >
    </div>
    <!-- sørger for at skemaet er responsivt og tilpasser sig forskellige skærmstørrelser. -->
    <div class="max-w-4xl mx-auto">
      <!-- dag 1 -->
      <div
        class="grid-cols-[1fr_2fr_2fr] gap-0 border-2 border-darkblue rounded-lg overflow-hidden hidden md:grid"
        x-show="dagaktiv === 'dag1'"
      >
        <!-- Tid kolonne -->
        <div
          class="divide-y divide-darkblue border-r-2 border-darkblue text-darkblue"
        >
          <div class="p-2 col-span-1 bg-darkyellow border-b-2 border-darkblue">
            <Heading htmlheading="h4" size="small">Kl.</Heading>
          </div>
          <div class="p-2">10.00</div>
          <div class="p-2">12:00</div>
          <div class="p-2">14:00</div>
          <div class="p-2">16:00</div>
          <div class="p-2">18:00</div>
          <div class="p-2">21:00</div>
          <div class="p-2">00:00</div>
          <div class="p-2">01:00</div>
        </div>

        <!-- DEN ENE SCENE -->
        <div
          class="divide-y divide-darkblue border-r-2 border-darkblue text-darkblue"
        >
          <div class="p-2 col-span-1 bg-darkyellow border-b-2 border-darkblue">
            <Heading htmlheading="h4" size="small">DEN ENE SCENE</Heading>
          </div>
          <div class="p-2">JOSIE AMADONNA</div>
          <div class="p-2">-</div>
          <div class="p-2">UMA KABONGO</div>
          <div class="p-2">-</div>
          <div class="p-2">ADAM</div>
          <div class="p-2">-</div>
          <div class="p-2">INDUKTRI</div>
          <div class="p-2">-</div>
        </div>

        <!-- DEN ANDEN SCENE -->
        <div class="divide-y divide-darkblue text-darkblue">
          <div class="p-2 col-span-1 bg-darkyellow border-b-2 border-darkblue">
            <Heading htmlheading="h4" size="small">DEN ANDEN SCENE</Heading>
          </div>
          <div class="p-2">-</div>
          <div class="p-2">BECCA</div>
          <div class="p-2">-</div>
          <div class="p-2">ADLYD</div>
          <div class="p-2">-</div>
          <div class="p-2">YASMIN</div>
          <div class="p-2">-</div>
          <div class="p-2">TANAJAH</div>
        </div>
      </div>

      <!-- dag 2 -->
      <div
        class="grid-cols-[1fr_2fr_2fr] gap-0 border-2 border-darkblue rounded-lg overflow-hidden hidden md:grid"
        x-show="dagaktiv === 'dag2'"
      >
        <div
          class="divide-y divide-darkblue border-r-2 border-darkblue text-darkblue"
        >
          <div class="p-2 col-span-1 bg-darkyellow border-b-2 border-darkblue">
            <Heading htmlheading="h4" size="small">Kl.</Heading>
          </div>
          <div class="p-2">10:00</div>
          <div class="p-2">12:00</div>
          <div class="p-2">14:00</div>
          <div class="p-2">16:00</div>
          <div class="p-2">18:00</div>
          <div class="p-2">21:00</div>
          <div class="p-2">00:00</div>
          <div class="p-2">01:00</div>
        </div>

        <div
          class="divide-y divide-darkblue border-r-2 border-darkblue text-darkblue"
        >
          <div class="p-2 col-span-1 bg-darkyellow border-b-2 border-darkblue">
            <Heading htmlheading="h4" size="small">DEN ENE SCENE</Heading>
          </div>
          <div class="p-2">-</div>
          <div class="p-2">-</div>
          <div class="p-2">JOSIE AMADONNA</div>
          <div class="p-2">-</div>
          <div class="p-2">-</div>
          <div class="p-2">ADAM</div>
          <div class="p-2">UMA KABONGO</div>
          <div class="p-2">INDUKTRI</div>
        </div>

        <div class="divide-y divide-darkblue text-darkblue">
          <div class="p-2 col-span-1 bg-darkyellow border-b-2 border-darkblue">
            <Heading htmlheading="h4" size="small">DEN ANDEN SCENE</Heading>
          </div>
          <div class="p-2">ADLYD</div>
          <div class="p-2">YASMIN</div>
          <div class="p-2">-</div>
          <div class="p-2">BECCA</div>
          <div class="p-2">TANAJAH</div>
          <div class="p-2">-</div>
          <div class="p-2">-</div>
          <div class="p-2">-</div>
        </div>
      </div>

      <!-- dag 3 -->
      <div
        class="grid-cols-[1fr_2fr_2fr] gap-0 border-2 border-darkblue rounded-lg overflow-hidden hidden md:grid"
        x-show="dagaktiv === 'dag3'"
      >
        <div
          class="divide-y divide-darkblue border-r-2 border-darkblue text-darkblue"
        >
          <div class="p-2 col-span-1 bg-darkyellow border-b-2 border-darkblue">
            <Heading htmlheading="h4" size="small">Kl.</Heading>
          </div>
          <div class="p-2">10:00</div>
          <div class="p-2">12:00</div>
          <div class="p-2">14:00</div>
          <div class="p-2">16:00</div>
          <div class="p-2">18:00</div>
          <div class="p-2">21:00</div>
          <div class="p-2">00:00</div>
          <div class="p-2">01:00</div>
        </div>

        <div
          class="divide-y divide-darkblue border-r-2 border-darkblue text-darkblue"
        >
          <div class="p-2 col-span-1 bg-darkyellow border-b-2 border-darkblue">
            <Heading htmlheading="h4" size="small">DEN ENE SCENE</Heading>
          </div>
          <div class="p-2">ADAM</div>
          <div class="p-2">-</div>
          <div class="p-2">INDUKTRI</div>
          <div class="p-2">-</div>
          <div class="p-2">UMA KABONGO</div>
          <div class="p-2">JOSIE AMADONNA</div>
          <div class="p-2">-</div>
          <div class="p-2">-</div>
        </div>

        <div class="divide-y divide-darkblue text-darkblue">
          <div class="p-2 col-span-1 bg-darkyellow border-b-2 border-darkblue">
            <Heading htmlheading="h4" size="small">DEN ANDEN SCENE</Heading>
          </div>
          <div class="p-2">-</div>
          <div class="p-2">TANAJAH</div>
          <div class="p-2">-</div>
          <div class="p-2">BECCA</div>
          <div class="p-2">-</div>
          <div class="p-2">-</div>
          <div class="p-2">ADLYD</div>
          <div class="p-2">YASMIN</div>
        </div>
      </div>

      <!-- dag 4 -->
      <div
        class="grid-cols-[1fr_2fr_2fr] gap-0 border-2 border-darkblue rounded-lg overflow-hidden hidden md:grid"
        x-show="dagaktiv === 'dag4'"
      >
        <div
          class="divide-y divide-darkblue border-r-2 border-darkblue text-darkblue"
        >
          <div class="p-2 col-span-1 bg-darkyellow border-b-2 border-darkblue">
            <Heading htmlheading="h4" size="small">Kl.</Heading>
          </div>
          <div class="p-2">10:00</div>
          <div class="p-2">12:00</div>
        </div>

        <div
          class="divide-y divide-darkblue border-r-2 border-darkblue text-darkblue"
        >
          <div class="p-2 col-span-1 bg-darkyellow border-b-2 border-darkblue">
            <Heading htmlheading="h4" size="small">DEN ENE SCENE</Heading>
          </div>
          <div class="p-2">BECCA</div>
          <div class="p-2">-</div>
        </div>

        <div class="divide-y divide-darkblue text-darkblue">
          <div class="p-2 col-span-1 bg-darkyellow border-b-2 border-darkblue">
            <Heading htmlheading="h4" size="small">DEN ANDEN SCENE</Heading>
          </div>
          <div class="p-2">-</div>
          <div class="p-2">ADLYD</div>
        </div>
      </div>
    </div>
    <!-- MOBIL LAYOUT - DAG 1 -->
    <div class="md:hidden space-y-4" x-show="dagaktiv === 'dag1'">
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">10:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">JOSIE AMADONNA</Heading>

          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">12:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">BECCA</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">14:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">UMA KABONGO</Heading>
          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">16:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">ADLYD</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">18:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">ADAM</Heading>
          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">21:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">YASMIN</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">00:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">INDUKTRI</Heading>
          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">01:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">TANAJAH</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
    </div>

    <!-- MOBIL LAYOUT - DAG 2 -->
    <div class="md:hidden space-y-4" x-show="dagaktiv === 'dag2'">
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">10:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">ADLYD</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">12:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">YASMIN</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">14:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">JOSIE AMADONNA</Heading>
          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">16:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">BECCA</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">18:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">TANAJAH</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">21:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">ADAM</Heading>
          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">00:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">UMA KABONGO</Heading>
          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">01:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">INDUKTRI</Heading>
          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
    </div>

    <!-- MOBIL LAYOUT - DAG 3 -->
    <div class="md:hidden space-y-4" x-show="dagaktiv === 'dag3'">
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">10:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">ADAM</Heading>
          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">12:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">TANAJAH</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">14:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">INDUKTRI</Heading>
          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">16:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">BECCA</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">18:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">UMA KABONGO</Heading>
          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">21:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">JOSIE AMADONNA</Heading>
          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">00:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">ADLYD</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">01:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">YASMIN</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
    </div>

    <!-- MOBIL LAYOUT - DAG 4 -->
    <div class="md:hidden space-y-4" x-show="dagaktiv === 'dag4'">
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">10:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">BECCA</Heading>
          <p class="text-darkblue opacity-70">DEN ENE SCENE</p>
        </div>
      </div>
      <div class="border border-darkblue rounded-lg overflow-hidden">
        <div class="bg-darkyellow p-2 font-bold text-darkblue">12:00</div>
        <div class="p-2 border-t border-darkblue">
          <Heading htmlheading="h4" size="small">ADLYD</Heading>
          <p class="text-darkblue opacity-70">DEN ANDEN SCENE</p>
        </div>
      </div>
    </div>
  </div>

  <Arrow />
</MainLayout>

<script>
  /* Import af Motion One bibliotek */
  import { animate, inView } from "motion";
  inView(".kunstnercards", () => {
    animate(".kunstnercards", { x: [-2000, 0] }, { duration: 2 });
  });
</script>
