---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Billet from "../components/Billet.astro";
import Busbillet from "../components/Busbillet.astro";
---

<MainLayout>
  <section class="text-center px-4">
    <h2 class="mb-15">Vælg billettype og tilkøb her</h2>
    <Busbillet />
    <Button variant="primary">Videre</Button>
  </section>
</MainLayout>
