---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Arrow from "../components/Arrow.astro";
import Billet from "../components/Billet.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout>
  <div class="-mx-30 mb-20">
    <Hero herotitel="KØB BILLET" />
  </div>

  
  <div class="flex justify-center gap-4 mt-10">
    <div class="w-24 h-6 border-2 border-darkblue rounded-full bg-darkblue"></div>
    <div class="w-24 h-6 border-2 border-darkblue rounded-full"></div>
    <div class="w-24 h-6 border-2 border-darkblue rounded-full"></div>
  </div>
  <section class="text-center px-4">
    <h2 class="mb-15">Vælg billettype og tilkøb her</h2>
    <Billet />

    <Link href="/købbusbillet" variant="secondary">Videre</Link>
  </section>
  <Arrow />
</MainLayout>
<style>
  .solsikke:hover {
    animation: animate__tada;
    animation-duration: 2s;
  }
</style>
