---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Billet from "../components/Billet.astro";
import Busbillet from "../components/Busbillet.astro";
---

<MainLayout>
  <section class="mb-15 text-center items-center px-4">
    <div class="mb-4 flex justify-center items-center text-center gap-10 p-8">
      <div
        class="w-30 h-6 rounded-full border-2 border-darkblue bg-transparent"
      >
      </div>

      <div class="w-30 h-6 rounded-full border-2 bg-darkblue border-darkblue">
      </div>
      <div
        class="w-30 h-6 rounded-full border-2 border-darkblue bg-transparent"
      >
      </div>
    </div>

    <h2 class="mb-15">Vælg billettype og tilkøb her</h2>
    <Busbillet />
    <Button variant="primary">Videre til køb</Button>
  </section>
</MainLayout>
