---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";

import Billet from "../components/Billet.astro";
---

<MainLayout>
  <section class="text-center px-4">
    <h2 class="mb-15">Vælg billettype og tilkøb her</h2>
    <Billet />

    <a href="/købbusbillet"><Button variant="primary">Videre</Button> </a>
  </section>
</MainLayout>
<style>
  .solsikke:hover {
    animation: animate__tada;
    animation-duration: 2s;
  }
</style>
