---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Arrow from "../components/Arrow.astro";
import Billet from "../components/Billet.astro";
import Hero from "../components/Hero.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout>
  <div class="-mx-10 md:-mx-30 mb-20">
    <Hero herotitel="KØB BILLET" />
  </div>

  <section class="text-center px-4">
    <Heading htmlheading="h2" size="large">Vælg billet og tilkøb her</Heading>
    <div class="mb-6 flex justify-center gap-9">
      <div class="w-28 h-6 border-2 border-darkblue rounded-full bg-darkblue">
      </div>
      <div class="w-28 h-6 border-2 border-darkblue rounded-full"></div>
      <div class="w-28 h-6 border-2 border-darkblue rounded-full"></div>
    </div>
    <Billet />

    <Link href="/købbusbillet" variant="secondary">Videre</Link>
  </section>
  <Arrow />
</MainLayout>
<style>
  .solsikke:hover {
    animation: animate__tada;
    animation-duration: 2s;
  }
</style>
