---
import MainLayout from "../layouts/MainLayout.astro";
import Arrow from "../components/Arrow.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout>
  <div class="-mx-30 mb-20">
    <Hero herotitel="KRIDTMALING" />
  </div>

  <h1 class="text-center">kridtmaling</h1>
  <section class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-auto">
    <div class="md:ml-20">
      <img
        class="w-90 h-auto object-cover rounded-lg border-2 border-darkblue"
        src="kridt.webp"
        alt="kridtmaling"
      />
    </div>
    <div>
      <p>Kickstart din festivalmorgen med farver, fællesskab og frihed!</p>

      <p>
        kl. 09.00 inviterer vi dig til kridtmaling i KREA-området, hvor du kan
        slå dig løs med store tegninger, små statements eller bare lidt farverig
        sjov.
      </p>

      <p>
        Ingen krav, ingen dommere – kun fri leg med farver og gode vibes. Uanset
        om du vil lave et kæmpe mesterværk eller bare doodle lidt i solen, er du
        mere end velkommen. Musikken spiller stille i baggrunden, kaffekoppen er
        inden for rækkevidde, og stemningen er helt nede på jorden.
      </p>

      <p>
        Så find dine festivalvenner, tag et stykke kridt – og gør pladsen lidt
        smukkere sammen med os.
      </p>
      <h2>d. 23 juli // kl. 09.00 // KREA</h2>
    </div>
  </section>
  <Arrow />
</MainLayout>
<style>
  .solsikke:hover {
    animation: animate__tada;
    animation-duration: 2s;
  }
</style>
