<section
  class="whitespace-nowrap overflow-x-hidden bg-darkblue text-beige py-9"
>
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap text-2xl [&_span]:mx-6"
  >
    <span>23-26 juli 2025</span>
    <span
      ><img
        src="/logo.svg"
        alt="Logo"
        class="inline-block h-15 align-middle"
      /></span
    >
    <span>23-26 juli 2025</span>
    <span
      ><img
        src="/logo.svg"
        alt="Logo"
        class="inline-block h-15 align-middle"
      /></span
    >
    <span>23-26 juli 2025</span>
    <span
      ><img
        src="/logo.svg"
        alt="Logo"
        class="inline-block h-15 align-middle"
      /></span
    >
    <span>23-26 juli 2025</span>
    <span
      ><img
        src="/logo.svg"
        alt="Logo"
        class="inline-block h-15 align-middle"
      /></span
    >
    <span>23-26 juli 2025</span>
    <span
      ><img
        src="/logo.svg"
        alt="Logo"
        class="inline-block h-15 align-middle"
      /></span
    >
    <span>23-26 juli 2025</span>
    <span
      ><img
        src="/logo.svg"
        alt="Logo"
        class="inline-block h-15 align-middle"
      /></span
    >
    <span>23-26 juli 2025</span>
    <span
      ><img
        src="/logo.svg"
        alt="Logo"
        class="inline-block h-15 align-middle"
      /></span
    >
  </div>

  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap text-2xl [&_span]:mx-6"
    aria-hidden="true"
  >
    <span>23-26 juli 2025</span>
    <span
      ><img
        src="/logo.svg"
        alt="Logo"
        class="inline-block h-15 align-middle"
      /></span
    >
    <span>23-26 juli 2025</span>
    <span
      ><img
        src="/logo.svg"
        alt="Logo"
        class="inline-block h-15 align-middle"
      /></span
    >
    <span>23-26 juli 2025</span>
    <span
      ><img
        src="/logo.svg"
        alt="Logo"
        class="inline-block h-15 align-middle"
      /></span
    >
    <span>23-26 juli 2025</span>
    <span
      ><img
        src="/logo.svg"
        alt="Logo"
        class="inline-block h-15 align-middle"
      /></span
    >
  </div>
</section>
