<section
  class="whitespace-nowrap overflow-x-hidden bg-darkblue text-beige py-9"
>
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
  >
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
  </div>
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
    aria-hidden="true"
  >
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
  </div>
</section>
