<section
  class="whitespace-nowrap overflow-x-hidden bg-darkblue text-beige py-9"
>
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
  >
    <span>23-26 juli 2025</span>
    <span><img src="logo.svg" alt="" /></span>
    <span>23-26 juli 2025</span>
    <span>Høje lyde</span>
    <span>23-26 juli 2025</span>
    <span>UI & UX</span>
    <span>23-26 juli 2025</span>
    <span>23-26 juli 2025</span>
    <span>Mega fedt!</span>
    <span>23-26 juli 2025</span>
  </div>
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
    aria-hidden="true"
  >
    <span>UI Lir</span>
    <span>Fede effekter</span>
    <span>Flotte animationer</span>
    <span>Høje lyde</span>
    <span>Livlige og levende webløsninger</span>
    <span>UI & UX</span>
    <span>Interaktioner</span>
    <span>Mikroanimationer</span>
    <span>Mega fedt!</span>
    <span>Dit site bliver bedre!</span>
  </div>
</section>
