---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "./Heading.astro";
---

<footer class="bg-beige text-base-content p-10">
  <div class="flex flex-col md:flex-row justify-between gap-10 w-full">
    <!-- Kolonne 1: Logo + links -->
    <div class="flex-1">
      <a href="/index" class="text-xl mb-10 block">
        <img src="/logo.svg" alt="Logo" class="h-30 w-auto" />
      </a>
      <nav class="flex flex-col gap-2">
        <a class="underline hover:text-orange py-1">Privatlivspolitik</a>
        <a class="underline hover:text-orange py-1">Vil du være musiker?</a>
        <a class="underline hover:text-orange py-1">Vil du være frivillig?</a>
      </nav>
    </div>

    <!-- Kolonne 2: Adresse -->
    <div class="flex-1">
      <Heading htmlheading="h2" size="small" stylingclasses=" mb-2"
        >Adresse:</Heading
      >
      <p class="mb-20">Søndervangsvej 43<br />4581 Rørvig</p>
      <Heading htmlheading="h2" size="small" stylingclasses=" mb-2"
        >Kontakt os på:</Heading
      >
      <p>Facebook eller instagram</p>
      <div class="flex gap-3">
        <a
          href="https://www.facebook.com/OfficielNakkefestival/?locale=da_DK"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/facebook.svg" alt="Facebook" class="h-10" />
        </a>
        <a
          href="https://www.instagram.com/nakkefestival/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/instagram.svg" alt="Instagram" class="h-10" />
        </a>
      </div>
    </div>

    <!-- Kolonne 3: Om festival -->
    <div class="flex-1">
      <Heading htmlheading="h2" size="small" stylingclasses=" mb-2"
        >Kort om Nakkefestival</Heading
      >
      <p>
        Festivalen er opbygget af frivillige, som elsker alternativ kultur og
        musik. Kunst hyldes i alle former på Nakke, og festivalen er fyldt til
        bristepunktet med gøgl, musik og malerier, som alle gæster og frivillige
        er med til at skabe. Hvert år giver Nakkefestival sit overskud til
        lokale og internationale projekter, som arbejder for en bedre verden med
        mere diversitet, uddannelse, fred og kærlighed.
      </p>
    </div>
  </div>
</footer>
