---
import MainLayout from "../layouts/MainLayout.astro";
---

<footer class="bg-beige text-base-content p-10">
  <div class="flex flex-col md:flex-row justify-between gap-10 w-full">
    <!-- Kolonne 1: Logo + links -->
    <div class="flex-1">
      <a href="/index" class="btn btn-ghost text-xl mb-10 block">
        <img src="/logo.svg" alt="Logo" class="mb-5 h-15 w-auto" />
      </a>
      <nav class="mt-4 flex flex-col gap-2">
        <a class="underline hover:text-orange">Privatlivspolitik</a>
        <a class="underline hover:text-orange">Vil du være musiker?</a>
        <a class="underline hover:text-orange">Vil du være frivillig?</a>
      </nav>
    </div>

    <!-- Kolonne 2: Adresse -->
    <div class="flex-1">
      <h5 class="">Adresse</h5>
      <p>Søndervangsvej 43<br />4581 Rørvig</p>
      <div class="mt-3 flex gap-3">
        <img src="/facebook.svg" alt="Facebook" class="h-6" />
        <img src="/instagram.svg" alt="Instagram" class="h-6" />
      </div>
    </div>

    <!-- Kolonne 3: Om festival -->
    <div class="flex-1">
      <h5 class="">Kort om Nakkefestival</h5>
      <p>
        Festivalen er opbygget af frivillige, som elsker alternativ kultur og
        musik. Kunst hyldes i alle former på Nakke, og festivalen er fyldt til
        bristepunktet med gøgl, musik og malerier, som alle gæster og frivillige
        er med til at skabe. Hvert år giver Nakkefestival sit overskud til
        lokale og internationale projekter, som arbejder for en bedre verden med
        mere diversitet, uddannelse, fred og kærlighed.
      </p>
    </div>
  </div>
</footer>
