---

---

<section class="">
  <div class="py-12">
    <h2 class="text-2xl font-bold text-center">Tilmeld dig her</h2>
    <p class="text-center">Skriv lidt om dig selv og hvorfor du gerne vil være frivillig, så kontakter vi dig og finder den bedste frivillig mulighed for dig!</p>
    <div class="mt-8 max-w-md">
      <div class="">
        <!-- navn sektion start -->
        <section class="">
          <div class="">
            <label class="">
              <span class="text-gray-700">Dit navn</span><br />
              <input type="text" class="" placeholder="Navn" />
            </label>
          </div>
        </section>
        <!-- navn sektion slut -->

        <!-- email sektion start -->
        <section>
          <div>
            <label class="">
              <span class="text-gray-700">Din email</span><br />
              <input type="email" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Email" />
            </label>
          </div>
        </section>
        <!-- email sektion slut -->

        <!-- udfyld sektion start -->
        <section>
          <div>
            <label class="">
              <span class="text-gray-700">Udfyldningsblanket</span><br />
              <textarea
                class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                placeholder="Jeg onsker at blive frivillig fordi..."
                rows="8"></textarea>
            </label>
          </div>
        </section>
        <!-- udfyld sektion slut -->

        <!-- har du været på nakke før start -->
        <form>
          <input type="radio" id="html" name="fav_language" value="HTML" />
          <label for="html">Ja, jeg har været på Nakkefestival før</label><br />
          <input type="radio" id="css" name="fav_language" value="CSS" />
          <label for="css">Nej, det bliver min første</label><br />
        </form>
        <!-- har du været på nakke før slut -->
      </div>
    </div>
  </div>
</section>
