---
import MainLayout from "../layouts/MainLayout.astro";
---

<section class="">
  <div class="py-12">
    <h1 class="text-4xl">Bliv frivillig</h1>
    <p>
      Nakkefestivalen er skabt af helt almindelige mennesker – som dig og mig. Kom og vær med til at skabe festen! Som frivillig får du et armbånd og skal arbejde 16-24 timer under festivalen, eller
      over 24 timer hvis du hjælper før/efter. Mad forsøges dækket uden for festivaldagene. Arbejder du ekstra hårdt, kan du få en MØL-billet for hver time ud over det aftalte.
    </p>
    <p>Du skal være mindst 15 år for at være frivillig.</p>
    <p>
      Sikkerhedsmøde Alle frivillige skal deltage i sikkerhedsmødet dagen før festivalen kl. 19.00 – derefter holder vi frivilligfest! Så tag teltet og vennerne under armen, og oplev Danmarks
      hyggeligste festival.
    </p>
    <h2 class="text-2xl font-bold text-center">Tilmeld dig her</h2>
    <p class="text-center">Skriv lidt om dig selv og hvorfor du gerne vil være frivillig, så kontakter vi dig og finder den bedste frivillig mulighed for dig!</p>
    <div class="mt-8 max-w-md">
      <div class="">
        <!-- navn sektion start -->
        <section class="">
          <div class="">
            <label class="">
              <span class="text-gray-700">Dit navn</span><br />
              <input type="text" class="" placeholder="Navn" />
            </label>
          </div>
        </section>
        <!-- navn sektion slut -->

        <!-- email sektion start -->
        <section>
          <div>
            <label class="">
              <span class="text-gray-700">Din email</span><br />
              <input type="email" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Email" />
            </label>
          </div>
        </section>
        <!-- email sektion slut -->

        <!-- udfyld sektion start -->
        <section>
          <div>
            <label class="">
              <span class="text-gray-700">Udfyldningsblanket</span><br />
              <textarea
                class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                placeholder="Jeg onsker at blive frivillig fordi..."
                rows="8"></textarea>
            </label>
          </div>
        </section>
        <!-- udfyld sektion slut -->

        <!-- har du været på nakke før start -->
        <form>
          <input type="radio" id="html" name="fav_language" value="HTML" />
          <label for="html">Ja, jeg har været på Nakkefestival før</label><br />
          <input type="radio" id="css" name="fav_language" value="CSS" />
          <label for="css">Nej, det bliver min første</label><br />
        </form>
        <!-- har du været på nakke før slut -->
      </div>
    </div>
  </div>
</section>
