---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<div class="navbar relative z-45 bg-transparent">
  <!-- Venstre side: Logo -->
  <div class="navbar-start">
    <a href="/" class="text-xl hover:bg-transparent">
      <img src="/logo.svg" alt="Logo" class="h-15 w-auto" />
    </a>
    <h6>Nakkefestival</h6>
  </div>

  <!-- Højre side: Burger menu (små skærme) og vandret menu (store skærme) -->
  <div class="navbar-end">
    <!-- Burger menu: kun synlig på små skærme -->
    <div class="dropdown lg:hidden">
      <div tabindex="0" role="button" class="hover:bg-transparent">
        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="darkblue">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 bg-beige rounded-box w-52 text-orange right-0">
        <li>
          <a href="/events" class="hover:bg-transparent">Events</a>
        </li>
        <li>
          <a href="/blivfrivillig" class="hover:bg-transparent">Bliv frivillig</a>
        </li>
        <li>
          <a href="/kunstnere" class="hover:bg-transparent">Kunstnere</a>
        </li>
        <li>
          <a href="/information" class="hover:bg-transparent">Information</a>
        </li>
        <li>
          <a href="/købbusbillet" class="hover:bg-transparent">
            <Button variant="primary" size="small">Køb billet</Button>
          </a>
        </li>
      </ul>
    </div>

    <!-- Vandret menu: kun synlig på store skærme -->
    <ul class="menu menu-horizontal hidden lg:flex space-x-2">
      <li>
        <a href="/events" class="hover:bg-transparent underline hover:text-orange">Events</a>
      </li>
      <li>
        <a href="/blivfrivillig" class="hover:bg-transparent underline hover:text-orange">Bliv frivillig</a>
      </li>
      <li>
        <a href="/kunstnere" class="underline hover:text-orange hover:bg-transparent">Kunstnere</a>
      </li>
      <li>
        <a href="/information" class="underline hover:bg-transparent hover:text-orange">Information</a>
      </li>
    </ul>
  </div>
</div>
