---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
---

<div class="navbar relative z-45 bg-transparent">
  <!-- Venstre side: Logo -->
  <div class="navbar-start">
    <a href="/" class="text-xl hover:bg-transparent">
      <img src="/logo.svg" alt="Logo" class="h-15 w-auto" />
    </a>
    <Heading htmlheading="h1" size="small">Nakkefestival</Heading>
  </div>

  <!-- Højre side: Burger menu (små skærme) og vandret menu (store skærme) -->
  <div class="navbar-end">
    <!-- Burger menu: kun synlig på små skærme -->
    <div class="dropdown relative lg:hidden flex items-center space-x-2">
      <div class="mobileknap">
        <Link href="/købbillet" variant="primary" size="small">Køb billet</Link>
      </div>
      <div tabindex="0" role="button" class="hover:bg-transparent">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mr-4 h-8 w-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="darkblue"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>

      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content absolute top-full z-1 px-6 bg-beige rounded-box w-screen text-orange right-0"
      >
        <li>
          <a href="/events" class="hover:bg-transparent hover:text-orange"
            >Events</a
          >
        </li>
        <li>
          <a
            href="/blivfrivillig"
            class="hover:bg-transparent hover:text-orange">Bliv frivillig</a
          >
        </li>
        <li>
          <a href="/kunstnere" class="hover:bg-transparent hover:text-orange"
            >Kunstnere</a
          >
        </li>
        <li>
          <a href="/information" class="hover:bg-transparent hover:text-orange"
            >Information</a
          >
        </li>
        <li>
          <Link href="/købbillet" variant="primary" size="small"
            >Køb billet</Link
          >
        </li>
      </ul>
    </div>

    <!-- Vandret menu: kun synlig på store skærme -->
    <ul class="menu menu-horizontal hidden lg:flex space-x-2">
      <li>
        <a
          href="/events"
          class="hover:bg-transparent underline hover:text-orange">Events</a
        >
      </li>
      <li>
        <a
          href="/blivfrivillig"
          class="hover:bg-transparent underline hover:text-orange"
          >Bliv frivillig</a
        >
      </li>
      <li>
        <a
          href="/kunstnere"
          class="underline hover:text-orange hover:bg-transparent">Kunstnere</a
        >
      </li>
      <li>
        <a
          href="/information"
          class="underline hover:bg-transparent hover:text-orange"
          >Information</a
        >
      </li>
    </ul>
  </div>
</div>
