---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import hero from "../assets/images/heros.webp";
import lillesol from "../assets/images/lillesol.webp";
import storsol from "../assets/images/storsol.webp";
const { herotitel = "Nakkefestival" } = Astro.props;
---

<section class="relative z-0">
  <div class="grid grid-cols-100 grid-rows-50 max-h-[60vh] lg:max-h-screen">
    <div class="col-start-1 col-span-35 row-start-13">
      <Image src={lillesol} alt="lille solsikke" class="place-self-center" />
    </div>
    <div class="col-start-42 col-span-50 row-start-17 relative">
      <a href="/købbillet" class="underline hover:text-orange"><Button variant="primary" size="large" class="">Køb billet</Button></a>
    </div>

    <div class="absolute bottom-0 left-0 right-0">
      <Image src={hero} alt="hero billede" class="" />
    </div>

    <div class="col-start-25 col-span-50 row-start-1 relative lg:top-[-450px]">
      <Image src={storsol} alt="stor solsikke" class="w-full rotate-animation" />
    </div>
    <div class="col-start-25 col-span-50 row-start-1 text-center relative">
      <h1 class="mt-15 lg:text-7xl text-4xl text-darkblue">{herotitel}</h1>
      <h2 class="mt-10 lg:text-5xl text-orange">23-26. juli 2025</h2>
    </div>
  </div>
</section>

<style>
  .rotate-animation {
    animation: rotate 25s linear infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .place-self-center {
    animation: rotate-large 20s linear infinite;
  }

  @keyframes rotate-large {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
