<!-- Popup Overlay -->
<div class="fixed inset-0 bg-white/60 flex items-center justify-center z-50" id="popup">
    <div class="relative bg-[#FFECEC] border border-[#10005E] rounded-xl px-8 py-10 max-w-xl w-full text-[#10005E] text-center shadow-xl">
  
      <!-- Overskrift -->
      <h2 class="text-4xl font-extrabold mb-6">Tak for din tilmelding!</h2>
  
      <!-- Tekst -->
      <p class="text-base mb-3">Vi er så glade for, at du vil være med til at skabe magien på <strong class="font-semibold">Nakkefestival.</strong></p>
      <p class="text-base mb-8">Vi vender snart tilbage på mail med info om de forskellige muligheder for at blive frivillig</p>
  
      <!-- Luk-knap -->
      <button
        onclick="document.getElementById('popup').remove();"
        class="bg-beige text-white px-6 py-2 rounded-full text-lg font-medium hover:bg-[#2c23a6] transition">
        Luk ned
      </button>