
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              darkblue: "#1e3a8a",
            },
          },
        },
      };
    </script>
  
 
  <div
  id="countdown"
  class="flex flex-col sm:grid sm:grid-flow-col gap-7 text-center auto-cols-max mt-15 justify-center"
>
  <div
    class="flex flex-col items-center justify-center p-4 border-2 border-darkblue rounded-box text-darkblue w-40 h-40 mx-auto"
  >
    <span class="countdown text-darkblue font-bold text-[3.5rem] leading-none">
      <span class="text-darkblue" id="days" style="--value:0"></span>
    </span>
    <div class="text-xl font-medium mt-1">dage</div>
  </div>

  <div
    class="flex flex-col items-center justify-center p-4 border-2 border-darkblue rounded-box text-darkblue w-40 h-40 mx-auto"
  >
    <span class="countdown text-darkblue font-bold text-[3.5rem] leading-none">
      <span class="text-darkblue" id="hours" style="--value:0"></span>
    </span>
    <div class="text-xl font-medium mt-1">timer</div>
  </div>

  <div
    class="flex flex-col items-center justify-center p-4 border-2 border-darkblue rounded-box text-darkblue w-40 h-40 mx-auto"
  >
    <span class="countdown text-darkblue font-bold text-[3.5rem] leading-none">
      <span class="text-darkblue" id="minutes" style="--value:0"></span>
    </span>
    <div class="text-xl font-medium mt-1">min</div>
  </div>

  <div
    class="flex flex-col items-center justify-center p-4 border-2 border-darkblue rounded-box text-darkblue w-40 h-40 mx-auto"
  >
    <span class="countdown text-darkblue font-bold text-[3.5rem] leading-none">
      <span class="text-darkblue" id="seconds" style="--value:0"></span>
    </span>
    <div class="text-xl font-medium mt-1">sek</div>
  </div>
</div>



    <script>
      const targetDate = new Date("2025-07-23T00:00:00").getTime();

      function updateCountdown() {
        const now = new Date().getTime();
        const distance = Math.max(0, targetDate - now);

        const seconds = Math.floor((distance / 1000) % 60);
        const minutes = Math.floor((distance / 1000 / 60) % 60);
        const hours = Math.floor((distance / (1000 * 60 * 60)) % 24);
        const days = Math.floor(distance / (1000 * 60 * 60 * 24));

        document.getElementById("days").style.setProperty("--value", days);
        document.getElementById("hours").style.setProperty("--value", hours);
        document
          .getElementById("minutes")
          .style.setProperty("--value", minutes);
        document
          .getElementById("seconds")
          .style.setProperty("--value", seconds);
      }

      updateCountdown(); // initial call
      setInterval(updateCountdown, 1000); // opdatér hvert sekund
    </script>
</html>
